footer {
  margin-top: auto !important;
  margin-left: auto;
  margin-right: auto;
  padding-top: 48px;
}

.container-fluid, .footer-wide {
  width: 100%;
  padding-right: 45px;
  padding-left: 45px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 12px;
}

.footer-wide .aviso-legal {
  padding: 14px 0 14px 0 !important;
  border-top: 1px solid #dddddd;
  font-size: 11px;
  background: transparent;
  color: #222222;
  text-align: left;
  clear: both;
  text-align: justify;
}
.footer-wide .aviso-legal a {
  color: #222;
}
