.header { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ec0000;
  height: 50px;
  min-width:100%;

    .head-logos{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 14px;

      .logo {
        display: flex;
        align-items: center;
        padding: 0 40px 0 0;
       /* border-right: 1px solid rgba(255, 255, 255, 0.8);*/

        span {
          font-family: 'SantanderMicroText-Rg2', sans-serif;
          font-size: 16px;
          line-height: 1.5em;
          color: #fff;
          padding: 0;
        }

        img {
          padding-left: 12px;
          width: 110px;
          padding-top:4px;
        }
      }
      .breadcrumbs {
      padding: 0 0 0 30px;
      font-family: 'SantanderMicroText-Bold', sans-serif;
      color: #fff;
      font-size: 16px;
      line-height: 1.5em;
      }
    }

    .head-sesion {
      display: flex;
      justify-content: space-between;
      .exit {
        width: 50px;
        height: 50px;
        display: flex;
          button.icon-exit {
            border:0;
            color: #fff;
            width: 50px;
            height: 50px;
            cursor: pointer;
            background-color: rgb(68, 68, 68);
            -o-transition: all .2s ease-in-out;
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;

            &::before {
              font-family: "SantanderWebFont" !important;
              content: "\be290";
              padding-left: 2px;
              border:0;
              color: #fff;
              font-size: 24px;
              line-height: 2em;
            }
          &:hover {
            background-color: #000;
          }
        }
      }

    }
} 
